.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background:#fff;
    min-height: 65px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    z-index: 99;
    white-space: nowrap;
}

.score {
    position: absolute;
    margin-left: 100px;
    font-family: 'Merriweather', serif;

}

.high-score {
    margin-left: 400px;
    font-family: 'Merriweather', serif;

}